# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# vscode
.settings/
.vscode/
bin/

# macos
*.DS_Store

# gradle
build
.gradle

# other
eclipse
run
runs

.direnv/